.App {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: var(--white);
}

.App h1 {
	color: var(--white);
	font-size: 64px;
}

.main > h2 {
	font-size: 32px;
}

h3 {
	font-size: 40px;
}

nav {
	display: flex;
	justify-content: center;
	gap: 5%;
	width: 90vw;
	margin-top: 32px;
}

nav > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.divider {
	align-self: center;
	height: 66%;
	width: 3px;
	background-color: rgba(255, 255, 255, 0.5);
}

nav a {
	display: block;
	height: 500px;
}

nav img {
	height: 100%;
}

.select-survivor,
.select-killer {
	transition-property: color;
	transition-duration: 0.5s;
}

.select-survivor img,
.select-killer img {
	transition-property: filter;
	transition-duration: 0.75s;
}

.select-survivor:hover {
	color: var(--blue);
}

.select-survivor img:hover {
	filter: drop-shadow(-15px 15px 1px rgba(14, 151, 255, 0.2));
}

.select-killer:hover {
	color: var(--red);
}

.select-killer img:hover {
	filter: drop-shadow(-15px 15px 2px rgba(212, 28, 28, 0.5));
}

.offering-common {
	background-image: url('../public/Assets/offering-bgs/offerings-common.png');
}
.offering-uncommon {
	background-image: url('../public/Assets/offering-bgs/offerings-uncommon.png');
}
.offering-rare {
	background-image: url('../public/Assets/offering-bgs/offerings-rare.png');
}
.offering-veryRare {
	background-image: url('../public/Assets/offering-bgs/offerings-veryrare.png');
}
.offering-ultraRare {
	background-image: url('../public/Assets/offering-bgs/offerings-ultrarare.png');
}

.addon-common {
	background-image: url('../public/Assets/addon-bgs/addons-common.png');
}

.addon-uncommon {
	background-image: url('../public/Assets/addon-bgs/addons-uncommon.png');
}
.addon-rare {
	background-image: url('../public/Assets/addon-bgs/addons-rare.png');
}
.addon-veryRare {
	background-image: url('../public/Assets/addon-bgs/addons-veryRare.png');
}
.addon-ultraRare {
	background-image: url('../public/Assets/addon-bgs/addons-ultraRare.png');
}
